@import "./../../App.scss";

// input {
//   @include text-1;
//   padding: 8px 10px;
//   border-radius: 5px;
//   border: 2px solid $gray;
// }
// input[type="text"]:placeholder-shown {
//   border: 2px solid $light-gray;
//   outline: none;
// }
// input[type="text"]:focus {
//   border: 2px solid $main;
//   outline: none; // ← デフォルトの青枠を消す場合
// }
