@import "././../App.scss";

.home_top {
  position: relative;
  height: 50dvh;
  .home_img {
    height: 100%;
    overflow: hidden;
    position: relative;
    .home_img-item {
      position: absolute;
      top: 0; // 追加
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      animation: fade 30s infinite;
    }
    .home_img-item:nth-of-type(1) {
      // animation: change-img-anim-first 10s infinite;
      animation-delay: 0s;
    }
    .home_img-item:nth-of-type(2) {
      animation-delay: 10s;
    }
    .home_img-item:nth-of-type(3) {
      animation-delay: 20s;
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }
      5% {
        opacity: 1;
      } // フェードイン（約1.5秒）
      28.333% {
        opacity: 1;
      } // 表示（10秒枠の終わり手前）
      33.333% {
        opacity: 0;
      } // フェードアウト（約1.5秒）
      100% {
        opacity: 0;
      }
    }
  }
  .search-bar_wrapper--home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -44px;
    width: fit-content;
    padding: 37px 75.5px;
    background-color: $white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
}
.home-content_wrapper {
  width: 1080px;
  margin: 70px auto 50px;
  .home-content_header {
    display: flex;
    justify-content: space-between;
    .home-content_title {
      @include text-1;
    }
    .link-saved {
      display: flex;
      align-items: center;
      gap: 3px;
      .link-saved_text {
        @include text-2;
      }
    }
  }
  .content_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
    .content_restaurant-card {
      list-style: none;
    }
  }
}
