// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
//

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

//color
$black: #000;
$white: #fff;
$gray: #989898;
$light-gray: #eae9e9;

$main: #bf6546;

//font-size
@mixin header1_pc {
  font-weight: 600;
  font-size: 25px;
}
@mixin text-1 {
  font-weight: 400;
  font-size: 18px;
}
@mixin text-2 {
  font-weight: 300;
  font-size: 14px;
}
@mixin text-3 {
  font-weight: 300;
  font-size: 11px;
}
@mixin text-4 {
  font-weight: 300;
  font-size: 8px;
}

:root {
  --font-sans: "Hiragino Sans", sans-serif;
}
html,
body {
  font-family: var(--font-sans);
  box-sizing: border-box;
}

.app {
  min-height: 100vh; /* 画面の高さを最低限確保 */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__main {
  flex: 1;
}

a {
  text-decoration: none;
  color: $black;
}
input {
  @include text-1;
  padding: 8px 10px;
  border-radius: 5px;
  border: 2px solid $gray;
}
input[type="text"]:placeholder-shown {
  border: 2px solid $light-gray;
  outline: none;
}
input[type="text"]:focus {
  border: 2px solid $main;
  outline: none; // ← デフォルトの青枠を消す場合
}
